/* Fonts from Google fonts - more at htt;//fonts.google.com
*/
@import url('https://fonts.google.com
/specimen/Work+Sans: 400,700");
@import url('https://fonts.google.com
/noto/specimen/Noto+Serif: 400,700');

/* General Content */

body {
    background-color: light pink; /*EDIT ME: page 
    background color */
    font family: "work Sans",sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    width: 700px;
    margin: auto;
    color: #4444;
}

h1, h2 {
    font-family : "Note Serif", serif;
    clear: both; /* Puts lists on new line */
    "
}
